.shopTitle{
    margin-top: 30PX;
    text-align: center;
    font-size: 40PX;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.veges, .frts, .nvg, .dairy{
    width: 100;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    background-color: darkkhaki;
}

.vegetables{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 200px;
    width: 270px;
    border-radius: 25px;
}